/*CSS Reset / Normalize*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}


/*Sección Menu NAV*/

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu__list{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.menu__list__item{
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.menu__list__item:nth-child(6){
    font-weight: bold;
}

.menu__list__item__contato{
    display: none;
}



/*Sección Title*/

.title{
    display: flex;
    justify-content: center;
}

.title__profile{
    width: 368px;
    height: auto;
}

.title__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 20px 150px;
    gap: 25px;
}

.title__container{
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.title__container h2{
    font-size: 45px;
    font-weight: bold;
    color: #464646; 
    line-height: 1.2;
}

.title__container h3{
    color: #464646;
    font-weight: normal;
}

.title__subsection{
    margin-top: auto;
}

.title__network{
    display: flex;
    flex-wrap: nowrap;
    gap: 35px;
    padding: 5px 2px;
}

.title__network__item{
    justify-content: center;

}

/* Seccion About*/

.about{
    display: flex;
    background-color: #EAF2FD;
    padding: 64px 0;
}

.about__title{
    padding: 0 150px;
    font-size: 32px;
    color: #464646; 
}

.about__container p{
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    max-width: 750px;
}

.about__container img{
    padding: 0 150px;

}



/* Seccion Skills*/

.skills{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar verticalmente */
    margin-bottom: 40px;
    padding: 20px 150px;
}


.skills__line {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.skills__box {
    background-color: #FFFFFF;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    
}

.skills__img img {
    margin-top: 10px;
    
}

.skills__name {
    margin-top: 10px;
    font-weight: bold;
}


.skills__name, .skills__img{
    flex-direction: column;
    text-align: left;
    

}

/* ************************************************************** */
/* Hobbies Grid*/
/* ************************************************************** */

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Centrar verticalmente */
    margin-bottom: 40px;
    padding: 20px 150px;
}


.hobbies__line {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}

.hobbies__box {
    background-color: #FFFFFF;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    
}

.hobbies__img img {
    margin-bottom: 10px;
    height: auto;
    
}

.hobbies__name {
    margin-top: 10px;
    font-weight: bold;
}

.hobbies__img, .hobbies__name{
    flex-direction: column;
    text-align: left;

}


/* Experiencia Académica*/

.academic__title{
    text-align: center;
}

.academic__courses {
    padding: 20px 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 3 columnas y se ajusta al tamaño disponible */
    gap: 20px; /* Espacio entre las columnas */
}

.academic__courses__item {
    background-color: #FFFFFF;
    padding: 20px; /* Espacio alrededor de cada item */
    box-sizing: border-box; /* Incluir padding en el tamaño total */
}

.academic__courses__item__img{
    background-color: #ffffff; /* Fondo blanco para la imagen */
    padding: 20px; /* Espacio alrededor de la imagen */
    display: flex; /* Utilizamos flexbox para centrar la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    max-width: 550px; /* Ancho máximo del contenedor */
    min-width: 250px;
    box-sizing: border-box; /* Incluir el padding en el tamaño total */
}

.academic__courses__item img {
    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    display: block; /* Para evitar espacios adicionales debajo de la imagen */
    padding: 50px 50px;
    
}


/* experiencia*/

.experience{
    padding: 20px 150px;
}

.experience__section__title{
    text-align: center;
}

.experience__container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    gap: 20px; /* Espacio entre las cajas */
}

.experience__box {
    display: flex;
    align-items: center;
}

.experience__box:nth-child(2){
    flex-direction: row-reverse; /* Colocamos los botones al principio y luego la imagen */
    
}

.experience__box:nth-child(4){
    flex-direction: row-reverse;
}

.experience__img {
    max-width: 100%; /* Ajusta el ancho de la imagen según lo necesites */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    
}

.experience__info {
    display: flex;
    flex-direction: column;
}

.experience__title,
.experience__text {
    margin-right: 1em;
}

.experience__description {
    margin-top: 10px;
}

.experience__repo,
.experience__demo {
    margin-right: 10px;
}


.experience__repo button,
.experience__demo button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.experience__repo button:hover,
.experience__demo button:hover {
    background-color: #0056b3;
}


/*Contacto*/

.formcontato{
    padding: 50px 150px;
    background-color: #EAF2FD;
}

.formcontato__contacto {
    display: flex;
    align-items: center;
    
}

.formcontato--esquerda {
    flex: 1;
    padding-right: 10px; /* Espacio entre la imagen y el texto */
}

.formcontato__text {
    flex: 2;
    display: flex;
    flex-direction: column;
    color: #464646;
}



.formcontato__title{
    align-items: center;
    justify-content: flex-start;
    
}
.formcontato__subtext{
    margin: 5px 0;
}

.formcontato__img {
    max-width: 464px; /* Ajusta el ancho de la imagen según lo necesites */
    height: auto;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.formcontato__input,
.formcontato__textarea,
.formcontato__botao {
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
}

.formcontato__botao{
    max-width: 144px;
    padding: 17px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formcontato__input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #A2A2A2;
    font-family: 'Raleway';
    font-size: 18px;
}



.formcontato__textarea{
    padding: 15px;
    border-radius: 5px;
    border: none;
    resize: none;
    color: #A2A2A2;
    font-family: 'Raleway';
    font-size: 18px;

}

.warnings{
    margin: auto;
    color: red;
    padding-top: 20px;
    text-align: center;
    width: 200px;

}


/*footeer*/

.footer{
    display: flex;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: center;
}

.footer__rodape{
    padding: 10px;
}


/*Tablet*/
@media (min-width: 768px) and (max-width:1299px){

/* Menú / Nav Tablet */

    .menu{
        padding: 8px 30px;
    }

    .menu__list{
        display: none;
    }

    .menu__list__item__contato{
        display: flex;
    }

    .menu__list__item__contato a{
        font-weight: bold;
    }

    /* Titulo Tableta*/

    .title__div{
        padding: 8px 30px;

    }

    .title__profile{
        width: 146px;
        height: auto;
    }

    .title__container h2{
        font-size: 22px;
    }

    .title__container h3{
        font-size: 16px;
    }

    /* About Tablet*/

    .about{
        padding: 10px 0;
    }
    
    .about__title{
        padding: 8px 30px;
    }
    
    .about__container p{
        max-width: 100%;
        padding: 8px 30px;
    }
    
    .about__container img{
        padding: 8px 30px;
    
    }


/*Skills*/
    .skills__line {
        grid-template-columns: repeat(3, 1fr);
    }



/*Hobbies*/

    .hobbies__line {
        grid-template-columns: repeat(3, 1fr);
    }
/*Formación Académica*/

.academic__courses {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 3 columnas, se ajusta al tamaño disponible */
}
  


/*Experiencia Profesional*/

.experience {
    padding: 50px 50px;
}

.experience__container {
    gap: 20px; /* Espacio entre las cajas */
}

.experience__box {
    flex-direction: column;
    align-items: flex-start;
    

}

.experience__box:nth-child(2){
    flex-direction: column; 
}

.experience__box:nth-child(4){
    flex-direction: column;
}

.experience__img {
    margin-right: 0;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    width: 100%;
    height: auto;
}


.experience__repo,
.experience__demo {
    margin-right: 0;
    margin-bottom: 10px;
}

.experience__repo button,
.experience__demo button {
    padding: 10px 15px;
}

/* Formulario */

.formcontato {
    padding: 50px 50px;
}

.formcontato__contacto {
    flex-direction: column;
    align-items: flex-start;
}

.formcontato--esquerda {
    display: none; /* Oculta la imagen en tablet */
}

.formcontato__text {
    flex: 1;
}

.formcontato__form {
    width: 100%; /* Ocupa todo el ancho */
}

.formcontato__input{

}

}


/*********************************************************************/




/*Mobile*/
@media (min-width: 320px) and (max-width: 767px) {

/*Menu*/

    .menu{
        padding: 10px 30px;
    }
    .menu__list{
        display: none;
    }
    .menu__title{
        align-items: flex-start;
    }

    .menu__list__item__contato{
        display: flex;
        font-weight: normal;
        align-items: flex-end;
    }

    .title__div{
        padding: 8px 30px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-between;
    }

    .title__profile{
        width: 98px;
        height: auto;
        margin-right: auto;
    }

    .title__container h2{
        font-size: 22px;
    }

    .title__container h3{
        font-size: 16px;
    }

    .title__network{
        font-weight: bold;
    }
    
    
/*Sección sobre mi*/

    .about{
    padding: 10px 0;
    }

    .about__title{
    padding: 8px 30px;
    }

    .about__container p{
    padding: 8px 30px;
    }

    .about__container img{
    padding: 8px 30px;

    }


/*Skills*/

    .skills__line {
        grid-template-columns: repeat(2, 1fr);
    }


/*Hobbies*/
 
    .hobbies__line {
        grid-template-columns: repeat(2, 1fr);
    }
/*Formación Académica*/

.academic__courses {
    padding: 8px 30px;
    grid-template-columns: 1fr; /* 1 columna en dispositivos móviles */
}

/*Experiencia Profesional*/

.experience__section__title{
    text-align: center;
    padding-bottom: 10px;
}

.experience {
    padding: 50px 50px;
}

.experience__container {
    gap: 20px; /* Espacio entre las cajas */
}

.experience__box {
    flex-direction: column;
    align-items: flex-start;
}

.experience__box:nth-child(2){
    flex-direction: column; 
}

.experience__box:nth-child(4){
    flex-direction: column;
}

.experience__img {
    max-width: 80%; /* Ajusta el ancho de la imagen según lo necesites */
    margin-right: 0;
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
}


.experience__repo,
.experience__demo {
    margin-right: 0;
    margin-bottom: 10px;
}

.experience__repo button,
.experience__demo button {
    padding: 10px 15px;
}




 /*Contacto*/

 .formcontato {
    padding: 50px 50px;
}

.formcontato__contacto {
    flex-direction: column;
    align-items: flex-start;
}

.formcontato--esquerda {
    display: none; /* Oculta la imagen en tablet */
}

.formcontato__text {
    flex: 1;
}

.formcontato__form {
    width: 100%; /* Ocupa todo el ancho */
}



/*Footer*/









}

